<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CricVis - Cricket Data Visualization</title>
    <link rel="icon" href="{% static 'cricVis/favicon.png' %}" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="{% static 'cricVis/style.css' %}">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
    rel = "stylesheet">
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Coda' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <div class="content">
      <div class="main_container">
        <div class="heading_container">
          <h2> CricVis: A Cricket Data Visualization App </h2>
        </div>
        <div class="navbar_container">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'cricVis:index' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'cricVis:iplStats' %}">IPL Stats</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'cricVis:timeSeries' %}">Time Series</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'cricVis:comparison' %}">Comparisons</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class = "comparisonInputContainer">
          <h3>Choose the type of comparison</h3>
          <div class="fieldContainer comparisonTableContainer">
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input comparisonTableChoice" id="BatsmanStats" value="BatsmanStats" name="comparisonTable">
              <label class="custom-control-label" for="BatsmanStats">Batsman v/s Batsman</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input comparisonTableChoice" id="BowlerStats" value="BowlerStats" name="comparisonTable">
              <label class="custom-control-label" for="BowlerStats">Bowler v/s Bowler</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input comparisonTableChoice" id="TeamWise" value="TeamWise" name="comparisonTable">
              <label class="custom-control-label" for="TeamWise">IPL Team v/s IPL Team</label>
            </div>
          </div>
          <div class="autofillFieldsContainer">
            <div class="input-group autofill">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-search"></i></div>
              </div>
              <input type="text" class="form-control" id="autofillFirst" disabled>
            </div>
            <div class="input-group autofill">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-search"></i></div>
              </div>
              <input type="text" class="form-control" id="autofillSecond" disabled>
            </div>
          </div>
          <button type="button" class="btn btn-outline-primary" id="fetchComparisonData">Submit</button>
        </div>
        <div class="cardDataContainer">
          <div class="row">
            <div class="col-sm-6">
              <div class="card text-center">
                <div class="card-header" id="firstEntityHeader"></div>
                <div class="card-body" id="firstEntityBody"></div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card text-center">
                <div class="card-header" id="secondEntityHeader"></div>
                <div class="card-body" id="secondEntityBody"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="{% static 'cricVis/comparison.js' %}"></script>
<script>
  const autofillDataReceived = '{{ autofillData | escapejs }}';
  const tableHeadingReceived = '{{ tableHeading | escapejs }}';
  receiveAutofillData(JSON.parse(autofillDataReceived), JSON.parse(tableHeadingReceived));
</script>