<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CricVis - Cricket Data Visualization</title>
    <link rel="icon" href="../static/cricVis/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="../static/cricVis/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h2> CricVis: A Cricket Data Visualization App </h2>
    <!-- Populate the match dropdown with matches and their dates, with match IDs as the option "value" -->
    <div class="list-group match-group">
      {% for match in allMatches %}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-around match" data-value={{ match.match_ID }}>
            <img src={{ match.team1_image }} alt="srh" width="30" height="30">
            <h5 class="mb-1"> {{ match.team1 }} v/s {{ match.team2 }}</h5>
            <img src={{ match.team2_image }} alt="srh" width="30" height="30">
          </div>
          <div class="d-flex w-100 justify-content-center">
            <small class="text-muted">{{ match.date }}</small>
          </div>
        </a>
      {% endfor %}
    </div>
    <div id="toggleChartsBar">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#WormChartContainer">Worm Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#RunRateChartContainer">Run Rate Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#ManhattanChartContainer">Manhattan Chart</a>
        </li>
      </ul>
    </div>
    <div class="tab-content" id="chartsContainer">
      <div id="WormChartContainer" class="container tab-pane active"><br>
      </div>
      <div id="RunRateChartContainer" class="container tab-pane"><br>
      </div>
      <div id="ManhattanChartContainer" class="container tab-pane"><br>
      </div>
    </div>
  </body>
</html>
<script>
  function enableChartsDiv(){
    $("#toggleChartsBar").css("visibility","visible");
    $("#chartsContainer").css("visibility","visible");
    emptyChartDivs();
  }
  // on clicking the "View Results" button, send a GET request to fetchGraphData function in views.py and log the chartsData response.
  $('.match-group .match').click(function(){
    $(this).parent().parent().find('.match').removeClass('match-active');
    $(this).addClass('match-active');
    let matchID = $(this).attr('data-value');
    console.log(matchID);
    $.ajax({
      type: 'GET',
      url: '/cricVis/fetchGraphData',
      data: {
        matchID: matchID
      },
      success: function(chartsData){
        chartsData = JSON.parse(chartsData);
        console.log(chartsData);
        enableChartsDiv();
        plotCharts(chartsData);
      },
      error: function(error){
        console.log(error);
      }
    })
  });
</script>