.main_container{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading_container{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Coda';
}
.container-div{
    margin-top: 20px;
    margin-bottom: 20px;
}
.match-group{
    width: 600px;
    height: 400px;
    overflow: auto;
}
.content{
    display: flex;
    justify-content: center;
}
.match-active{
    color: green;
}
#chartsContainer{
    visibility: hidden;
}
#toggleChartsBar{
    visibility: hidden;
}
h5{
    font-family: 'DM Sans';
}
.nav-link{
    font-family: 'DM Sans';
}