.main_container{
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading_container{
    margin-top: 30px;
    margin-bottom: 30px;
}
.container-div{
    margin-top: 20px;
    margin-bottom: 20px;
}
.match-group{
    width: 600px;
    height: 490px;
    overflow: auto;
}
.content{
    display: flex;
    justify-content: center;
}
.match-active{
    color: green;
}
#teamListContainer{
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
#chartsContainer{
    visibility: hidden;
}
#toggleChartsBar{
    visibility: hidden;
}
h5{
    font-family: 'DM Sans';
}
.nav-link{
    font-family: 'DM Sans';
}
h2,h3,h4{
    font-family: 'Coda';
}
#matchOneBox{
    margin-bottom: 30px;
    visibility: hidden;
}
#matchTeams, #matchDetails, #matchResult{
    visibility: hidden;
}
.fieldContainer{
    display: flex;
    justify-content: space-around;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    justify-content: space-evenly;
}
.inputCardContainer{
    width: 1200px;
    text-align: center;
}
.datePickerContainer{
    width: 1200px;
    display: flex;
    justify-content: center;
}
.dateFields{
    margin-left: 15px;
    margin-right: 15px;
}
#carouselContainer{
    padding: 20px;
    min-width: 900px;
    height: 670px;
}
.carouselDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#timeSeriesCarousel{
    margin-bottom: 40px;
    visibility: hidden;
    width: 900px;
    height: 670px;
}
.autofillFieldsContainer{
    display: flex;
    justify-content: space-around;
    width: 500px;
}
.comparisonInputContainer{
    display: flex;
    height: 350px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.autofill{
    margin-left: 20px;
    margin-right: 20px;
}
.comparisonTableContainer{
    width: 650px;
}
.comparisonHeadingContainer{
    display: flex;
    justify-content: space-between;
}
#cardDataContainer{
    visibility: hidden;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
#comparisonPlayerContainer{
    visibility: hidden;
}
.playerCardContainer{
    width: 300px;
}
.chartStatsDivHeading{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
}
.chartStatsContainer{
    height: 175px;
}
.statTag{
    font-size: 25px;
    font-weight: 800;
}
.cardHeading{
    font-size: 20px;
}
.matchTypeTabs{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
#T20Container, #ODIContainer, #TestContainer, #TeamComparisonContainer{
    width: 1000px;
}
.seasonMatchContainer{
    margin-top: 20px;
    width: 1000px;
}
.seasonContainer{
    text-align: center;
}
.carouselChartDiv{
    height: 630px;
    width: 860px;
}