.main_container{
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading_container{
    margin-top: 30px;
    margin-bottom: 30px;
}
.container-div{
    margin-top: 20px;
    margin-bottom: 20px;
}
.match-group{
    width: 600px;
    height: 400px;
    overflow: auto;
}
.content{
    display: flex;
    justify-content: center;
}
.match-active{
    color: green;
}
#teamListContainer{
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
#chartsContainer{
    visibility: hidden;
}
#toggleChartsBar{
    visibility: hidden;
}
h5{
    font-family: 'DM Sans';
}
.nav-link{
    font-family: 'DM Sans';
}
h2,h3,h4{
    font-family: 'Coda';
}
#matchOneBox{
    margin-bottom: 30px;
    visibility: hidden;
}
#matchTeams, #matchDetails, #matchResult{
    visibility: hidden;
}
.fieldContainer{
    display: flex;
    justify-content: space-around;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    justify-content: space-evenly;
}
.inputCardContainer{
    width: 1200px;
    text-align: center;
}
.datePickerContainer{
    width: 1200px;
    display: flex;
    justify-content: center;
}
.dateFields{
    margin-left: 15px;
    margin-right: 15px;
}
#carouselContainer{
    padding: 20px;
}
.carouselDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
#timeSeriesCarousel{
    margin-bottom: 40px;
}